	<div class="footer">
		<div class="set_center">
			<ul class="foot_lt">
				<li>
					<img src="/images/db_phone.png" alt=""><p></p>
					<p>入驻服务热线：18163876822</p>
				</li>
				<li>
					<img src="/images/db_phone.png" alt=""><p></p>
					<p>客户服务电话：4009022113</p>
				</li>
				<li>
					<img src="/images/db_phone.png" alt=""><p></p>
					<p>客服中心：0731-83886006</p>
				</li>
				<li>
					<img src="/images/db_phone.png" alt=""><p></p>
					<p>加盟服务热线：0731-88376688</p>
				</li>
				<li>
					<img src="/images/db_www.png" alt=""><p></p>
					<p>网址：www.qianmeng1688.com</p>
				</li>
				<li>
					<img src="/images/db_dz.png" alt=""><p></p>
					<p>地址：长沙高新区五强商务中心8楼 </p>
				</li>
			</ul>
			<ul class="footer_lb">
			  <li>友情链接：</li>
			  <li><a target="_blank" href="http://www.tsjunhui.com/">红木家具</a></li>
			  <li><a target="_blank" href="http://www.a-room.cn">成都智能家居</a></li>
			  <li><a target="_blank" href="http://www.xinkaihb.com/">除尘布袋厂家</a></li>
			  <li><a target="_blank" href="http://www.yangshantou.com">红叶石楠</a></li>
			  <li><a target="_blank" href="http://www.lwhylg.cn">景观松</a></li>
			  <li><a target="_blank" href="http://royallyfloor.co.chinafloor.cn/">融汇版图·地板</a></li>
			  <li><a target="_blank" href="http://www.3d-spacerfabric.com">3D网布</a></li>
			  <li><a target="_blank" href="http://www.shlvyang.cn">上海除甲醛公司</a></li>
			  <li><a target="_blank" href="http://www.jywosika.com/">南京阳光房</a></li>
			  <li><a target="_blank" href="http://www.zjfangyuan.net/">实木地热地板十大品牌</a></li>
			  <li><a target="_blank" href="http://www.zbhuodongfang.com/">山东活动板房</a></li>
			  <li><a target="_blank" href="http://tscndd.co.chinadd.cn/">托斯卡纳集成吊顶</a></li>
			  <li><a target="_blank" href="http://www.sidalit.com">太阳能路灯</a></li>
			  <li><a target="_blank" href="http://www.ytart.cn">大型雕塑厂</a></li>
			  <li><a target="_blank" href="http://www.eson-design.com">中式别墅设计</a></li>
			  <li><a target="_blank" href="http://www.hnwldsy.com">景观房</a></li>
			  <li><a target="_blank" href="http://www.ljrkf.com">植物造型</a></li>
			  <li><a target="_blank" href="http://www.cntaohuayuan.com">桃花源硅藻泥</a></li>
			  <li><a target="_blank" href="http://www.fjqyjmy.com">环保板材</a></li>
			  <li><a target="_blank" href="http://www.jiaheyg.com/">嘉和易购</a></li>
			  <li><a target="_blank" href="http://www.wachang8.com/">寺庙瓦</a></li>
			  <li><a target="_blank" href="http://www.yahongwooden.com">纯实木地热地板</a></li>
			  <li><a target="_blank" href="http://www.usa-parma.com/">整体门窗</a></li>
			  <li><a target="_blank" href="http://www.csj-dg.com/">东莞汽车改灯</a></li>
			  <li><a target="_blank" href="http://www.ahking.net">指纹锁</a></li>
			  <li><a target="_blank" href="http://shenzhen.gojiaju.com/">深圳家具网</a></li>
			  <li><a target="_blank" href="http://www.odinichina.com/">整体衣柜加盟</a></li>
			  <li><a target="_blank" href="http://www.bjzhongyu.com">北京环氧地坪</a></li>
			  <li><a target="_blank" href="http://www.shuaifuguyun.com">老船木家具</a></li>
			  <li><a target="_blank" href="http://www.wyushan.cn">课桌椅厂家</a></li>
			  <li><a target="_blank" href="http://www.gulanfa.com">古兰装饰</a></li>
			  <li><a target="_blank" href="http://www.foshangyao.com">不锈钢花格</a></li>
			  <li><a target="_blank" href="http://www.langfangbangte.com">地暖模块</a></li>
			  <li><a target="_blank" href="http://www.zhumadianhuamu.com">苗圃基地</a></li>
			  <li><a target="_blank" href="http://www.minjiangzs.com">老船木家具</a></li>
			</ul>
			<p>Copyright © 2017-2018.湖南千盟景观装饰建材有限公司.All rights reserved </p>
			<div class="erwei">
				<img src="/images/db_wx.jpg">
				<p>扫一扫关注我们</p>
			</div>
		</div>
	</div>