<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>首页 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<!–[if lt IE9]> 
		<script src="plugins/html5.js"></script>
	<![endif]–>
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/plugins/bannerList/bannerList.css">
	<link rel="stylesheet" href="/css/front/index.css">
</head>
<body>
    <#include 'header.html'>
        
	<div class="center">
		<!-- 顶部banner -->
		<div class="banner">
			<ul>
				<li><a href="javascript:;"><img src="/images/banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/banner.jpg" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/banner.jpg" alt=""></a></li>
			</ul>
			<div class="img-btn-list"></div>
		</div>
		<!-- 我们的服务 -->
		<div class="service set_center">
			<h3>我们的服务</h3>
			<p>合作千盟园景线下体验店经营的荟萃中外高品质的园林建材产品</p>
			<ul class="set_center">
				<li>
					<a href="/qm/service#purchase" class="service_box">
						<img class="service_type" src="/images/service_1.png" data-src="/images/service_11.png" data-old="images/service_1.png">
						<p>材料产品采购服务</p>
						<span>查看详情 ></span>
					</a>
					<img src="/images/line.png" alt="">
				</li>
				<li>
					<a href="/qm/service#construction" class="service_box">
						<img class="service_type" src="/images/service_2.png" data-src="/images/service_22.png" data-old="images/service_2.png">
						<p>工程施工服务</p>
						<span>查看详情 ></span>
					</a>
					<img src="/images/line.png" alt="">
				</li>
				<li>
					<a href="/qm/our_service#design" class="service_box">
						<img class="service_type" src="/images/service_3.png" data-src="/images/service_33.png" data-old="images/service_3.png">
						<p>设计服务</p>
						<span>查看详情 ></span>
					</a>
					<img src="/images/line.png" alt="">
				</li>
				<li>
					<a href="/qm/service#cost" class="service_box">
						<img class="service_type" src="/images/service_4.png" data-src="/images/service_44.png" data-old="images/service_4.png">
						<p>综合服务</p>
						<span>查看详情 ></span>
					</a>
					<img src="/images/line.png" alt="">
				</li>
				<li>
					<a href="/qm/service#park" class="service_box">
						<img class="service_type" src="/images/service_5.png" data-src="/images/service_55.png" data-old="images/service_5.png">
						<p>园林风水服务</p>
						<span>查看详情 ></span>
					</a>
					<img src="/images/line.png" alt="">
				</li>
			</ul>
		</div>
		<!-- 我们的优势 -->
		<div class="advantage">
			<h3>8大优势</h3>
			<p>合作千盟园景线下体验店经营的荟萃中外高品质的园林建材产品</p>
			<ul class="set_center clearfix">
				<li>
					<img src="/images/ys_11.png" data-src="/images/ys_1.png" data-old="images/ys_11.png">
					<p>专业的供应链管理团队</p>
				</li>
				<li>
					<img src="/images/ys_22.png" data-src="/images/ys_2.png" data-old="images/ys_22.png">
					<p>丰富的材料与产品资源</p>
				</li>
				<li>
					<img src="/images/ys_33.png" data-src="/images/ys_3.png" data-old="images/ys_33.png">
					<p>专业的集中采购服务</p>
				</li>
				<li>
					<img src="/images/ys_55.png" data-src="/images/ys_5.png" data-old="images/ys_55.png">
					<p>线下服务网点遍布全国</p>
				</li>
				<li>
					<img src="/images/ys_66.png" data-src="/images/ys_6.png" data-old="images/ys_66.png">
					<p>专业、统一、有力的推广策划</p>
				</li>
				<li>
					<img src="/images/ys_77.png" data-src="/images/ys_7.png" data-old="images/ys_77.png">
					<p>与园林权威机构合作引领行业发展</p>
				</li>
				<li>
					<img src="/images/ys_88.png" data-src="/images/ys_8.png" data-old="images/ys_88.png">
					<p>提供园林分项工程施工技术与造价参考标准</p>
				</li>
				<li>
					<img src="/images/ys_99.png" data-src="/images/ys_9.png" data-old="images/ys_99.png">
					<p>平台资源统一协调与监管服务更有保障</p>
				</li>
			</ul>
			<a href="/qm/our_adv" class="ad_more">
				<span>查看详情</span>
				<img src="/images/arrow_r_y.png" alt="">
			</a>		
		</div>
		<!--关于千盟-->
		<div class="about">
			<h3>关于千盟</h3>
			<div>
				<img src="/images/about_qm_bg.jpg" alt="">
				<div class="about_rt">
					<img src="/images/about.png" alt=""></br>
					<span></span>
					<p>千盟园景，是由国内多个具有影响力的生产企业发起组建，行业内上百家生产企业加入联盟，以产品个性化设计、产品生产制造、直供配送、电子商务、实体连锁店销售、售后安装连锁服务的经营模式，投入巨资打造的线上供货平台和百余家专业连锁店联盟。联盟店荟萃户外家具、岗亭廊架……</p>
					<a href="/qm/introduction">
						<span>查看详情</span>
						<img src="/images/arrow_r_g.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<!-- 我们的团队 -->
		<div class="team">
			<h3>服务团队</h3>
			<ul class="team_name clearfix">
				<!-- <li  class="tl_selected"><a href="javascript:;">方案采购师</a></li>
				<li><a href="javascript:;">设计团体</a></li>
				<li><a href="javascript:;">施工团队</a></li>
				<li><a href="javascript:;">预算团队</a></li> -->
				<#list categories as category>
					<#if category_index == 0>
						<li class="tl_selected"><a href="javascript:;">${category.categoryName}</a></li>
					<#else>	
						<li><a href="javascript:;">${category.categoryName}</a></li>
					</#if>
				</#list>
			</ul>
			<ul class="team_member set_center">
				<#list categories as category>
					<#assign id = category.id>
					<#assign count = 0>
					<li <#if category_index == 0> class="ct_selected" </#if>>
						<ul class="clearfix personnel_ul">
							<#list personnels as personnel>
							    <#if count gt 5> <#break> </#if>
								<#if (id == personnel.categoryId ) && count lte 5>
								<#assign count=count+1 />
									<li>
										<a href="/personnel/teamdetail/${personnel.id !''}"><img src="${personnel.picture!''}" alt=""></a>
										<a href="/personnel/teamdetail/${personnel.id !''}">${personnel.name!''}&nbsp;&nbsp;&nbsp;&nbsp;${personnel.position!''}</a>
									</li>
								</#if>
							</#list>
						</ul>
						<#if count gt 5>
						<a href="/personnel/showteam/${category.id}"><span>查看更多</span><img src="/images/arrow_r_g.png" alt=""></a>
						</#if>
					</li>
				</#list>
				<!-- <li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li> -->
			</ul>
		</div>
		<!-- 漂浮框 -->
		<div class="float_box">
			<ul class="info_box">
				<li><a href="javascript:;"><img src="/images/r_top_1.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/r_phone_2.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/r_ewm_3.png" alt=""></a></li>
			</ul>
			<ul class="open_box">
				<li class="top_floor">
					<a href="javascript:;">置顶</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="/images/r_phone_22.png" alt="">
						<span>0731-88008866</span>
						<div id="contact_line"><span>服务</span><span>热线</span></div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<p>扫描二维码</p>
						<p>关注微信公众号</p>
						<img src="/images/erweima.png" alt="">
					</a>
					<div id="weixin"><span>官方</span><span>微信</span></div>
				</li>
			</ul>
		</div>
		
		
	</div>
	
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.min.js"></script>
<script src="/plugins/bannerList/bannerList.js"></script>
<script src="/plugins/paging.js"></script>
<script src="/plugins/jquery.mousewheel.js"></script>
<script src="/javascript/front/common.js"></script>
<script src="/javascript/front/index.js"></script>
</html>