<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>公司简介 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<!–[if lt IE9]> 
		<script src="/plugins/html5.js"></script>
	<![endif]–>
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css">
</head>
<body>
	<#include 'header.html'>

	<div class="center">
		<div class="top_banner">
			<img src="/images/gyqm_banne1r.jpg" alt="">
		</div>
		<div class="set_center">
			<div class="intro_step intro_top height_400">
				<img src="/images/gyqm_title1.png" alt="">
				<div>
					<p>千盟园景，中国园林景观行业首个综合性服务平台。</p>
					<p>平台采取线上与线下双网并举、资源与市场两头运行的经营模式，整合园林行业产品与人力资源，集中有力的推广策划，以园林景观行业产品一站式集中采购服务；园林项目整体工程、园林景观项目分项工程设计与施工服务；园林景观分项工程施工技术规范整合；园林景观项目工程预算服务；专业售后维护服务等全套系统运营为手段，以解决行业客户采购繁杂、抉择把控难度大、产品的售中和售后服务不专业、施工技术与工价无参照等行业痛点难点为使命，以实现供方能够快速、集中、有效地推广，需方能够齐全、便利、优价地选购为目标，形成行业全方位专业服务标杆化的综合性服务体系。</p>
					<p>千盟园景，将专注创新、砥砺前行，着眼于优化行业资源、提高行业效率，为园林景观行业提供360度无死角的精细化服务、开创园林景观行业服务新模式而锐意进取！</p>
				</div>
			</div>
			<div class="intro_step intro_md">
				<img src="/images/gyqm_title2.png" alt="">
				<ul class="clearfix">
					<li>
						<a href="javascript:;"><img src="/images/gyqm_img1.jpg" alt=""></a>
						<p class="md_address">
							<span>生产研发基地</span>
							<a href="javascript:;">
								<img src="/images/gyqm_location.png" alt="">
								<span>长沙市岳麓区枫林三路1068号</span>
							</a>
						</p>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/gyqm_img2.jpg" alt=""></a>
						<p class="md_address">
							<span>产品展示中心</span>
							<a href="javascript:;">
								<img src="/images/gyqm_location.png" alt="">
								<span>长沙望城区高星国际物流园3-9栋</span>
							</a>
						</p>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/gyqm_img3.jpg" alt=""></a>
						<p class="md_address">
							<span>设计加工基地</span>
							<a href="javascript:;">
								<img src="/images/gyqm_location.png" alt="">
								<span>长沙市岳麓区青山工业园</span>
							</a>
						</p>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/gyqm_img4.jpg" alt=""></a>
						<p class="md_address">
							<span>网络运营中心</span>
							<a href="javascript:;">
								<img src="/images/gyqm_location.png" alt="">
								<span>长沙高新区五强产业园8楼</span>
							</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="intro_step intro_btm">
				<img src="/images/gyqm_title3.png" alt="">
				<a href="javascript:;">
					<img src="/images/gyqm_yyms.png" alt="">
				</a>
			</div>
		</div>
	</div>
	
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.min.js"></script>
<script src="/javascript/front/common.js"></script>
</html>