<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>平台入驻 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css"/>
</head>
<body>
	<!--头-->
	<#include 'header.html'>
	<!--中间部分-->
	<div class="center" id="plat_entry">
		<!--banner-->
		<div class="top_banner">
			<img src="/images/rz.jpg" />
		</div>
		<!--内容-->
		<div class="set_center team" id="team_show">		
            <ul class="team_name set_center clearfix">
                <li class="tl_selected"><a href="javascript:;" >供应商入驻</a></li>
                <li><a href="javascript:;">设计团队入驻</a></li>
                <li><a href="javascript:;">施工团队入驻</a></li>
                <li><a href="javascript:;">维护保养团队入驻</a></li>
            </ul>
             <!--切换的选项卡主体 -->
            <ul class="team_member set_center">
				<li class="ct_selected">
            		<div>
	        			<div class="cf_box">
	        				<span>—   供应商入驻平台的好处   —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、千盟平台拥有丰富的设计、材料供应、施工服务资源，为客户带来集中解决方案，客户流和资源信息流在平台中形成聚集效应，是一个立体展示和宣传企业和产品的窗口；</li>
	        					<li>2、供应商免费入驻平台，任何资源进入平台无压力；</li>
	        					<li>3、千盟平台打造宠大的线下服务体系，有力的支撑线上平台的发展；</li>
	        					<li>4、平台统一、专业的推广策划，让供应商感受有力效应；</li>
	        					<li>5、千盟集中采购服务，让供应商和客户都省心，省时，省力；</li>
	        					<li>6、平台交易更有保障；</li>
	        					<li>7、千盟系统内直采将拥有很大的采购量；</li>
	        					<li>8、开放式平台，在平台上，客户可以自由选择商家进行无障碍沟通；</li>
	        					<li>9、千盟的全国大数据服务，为行业内供应商的产能调控提供数据支持。</li>
	        				</ol>
	        			</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   供应商入驻平台须知   —</span>
	        			</div>
	        			<div>
        					<ol>
	        					<li>1、认同千盟园景平台模式，同意并遵守平台的相关规定；</li>
	        					<li>2、提供营业执照等相关资质证明； </li>
	        					<li>3、提供符合平台要求的产品描述、规格、应用场景、图片等素材，有国家强制资格要求的产品需提供相关资质证明文件；</li>
	        					<li>4、提供合理的供货价格体系，保证产品质量；</li>
	        					<li>5、供应产品，为自己生产或取得授权代理的产品！ </li>
        					</ol>
        				</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   供应商入驻流程   —</span>
	        			</div>
	        			<img src="/images/rzlc_img.png" />
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   供应商入驻合作模式  —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1.供货合作</li>
	        					<li>2.采购合作</li>
	        					<li>3.股份合作</li>
	        					<li>4.品牌合作</li>
	        					<li>5.线上代理合作</li>
        					</ol>
	        			</div>
        			</div>
					
					<div>
	        			<div class="cf_box">
	        				<span>—   供应商平台入驻的六大优势   —</span>
	        			</div>
	        			<div class="last_box">
	        				<ol>
								<li>1、资源集聚形成专业市场优势</li>
	        					<li>涵盖园林景观市场需求的全品类，集园林产品与人才资源共25大类服务，3万个品种的SKU；加入千盟园景，使您的产品更富竞争力！</li>
								<li>2、无限客户自由入市采购需求</li>
	        					<li>打造园林景观行业的阿里巴巴，供需双方自由对接，客户来源无地域限制，足不出户全国接单！</li>
								<li>3、千盟集团庞大线下采购需求</li>
	        					<li>千盟园景旗下，6大园林景观产业群集、300家连锁经营公司，优先选购平台供应商的产品，每年高达200亿元的采购需求！</li>
								<li>4、统一推广策划多向厂家宣传</li>
	        					<li>千盟园景拥有专业的推广团队、巨额的推广投入，为入驻供应商提供有力的宣传推广、平台展示、信息咨询等支持。</li>
								<li>5、资源互补推动产业快速发展</li>
	        					<li>平台广泛入驻的设计、施工团队资源，既为供应商带来更大的产品需求渠道，也为厂家产品售后安装与维保提供有力的保障！</li>
								<li>6、高效资源匹配助您精准销售</li>
	        					<li>智能云计算系统，为您匹配最合适的客源，千盟平台帮你做营销，不用上门拜访，敲敲键盘轻松收单！</li>
	        				</ol>
	        			</div>
        			</div>
				
            	</li>
            	
            	<!--设计团队入驻-->
            	<li>
            		<div>
	        			<div class="cf_box">
	        				<span>—   设计团队入驻平台的好处   —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、 品牌升级，通往全国</li>
								<li>PC+无线+线下全面资源渠道，助力您的设计团队开辟全国商机。</li>
	        					<li>2、 全网引流，客户变现</li>
								<li>平台广泛的采购需求、项目需求，为设计带来巨大的交易机会。</li>
	        					<li>3、 设计团队专属工作台</li>
								<li>供求信息精准公开，供求双方交易自由撮合。</li>
	        				</ol>
	        			</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   设计团队入驻平台须知   —</span>
	        			</div>
	        			<div>
        					<ol>
	        					<li>1、认同千盟园景平台模式，同意并遵守平台的相关规定；</li>
	        					<li>2、提供营业执照等相关资质证明； </li>
	        					<li>3、提供真实可靠团队介绍资料；</li>
	        					<li>4、提供符合平台要求的设计风格描述、应用场景、图片等素材； </li>
	        					<li>5、提供合理的价格体系，保证输出质量！ </li>
        					</ol>
        				</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   设计团队入驻流程   —</span>
	        			</div>
	        			<img src="/images/rzlc_img.png" />
        			</div>
        			
        			<div class="last_box">
	        			<div class="cf_box">
	        				<span>—   设计团队入驻合作模式  —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、平台资源库自由信息撮合交易</li>
	        					<li>2、平台集团业务推荐设计对接</li>
	        					<li>3、平台与设计团队合作对外承接业务</li>
        					</ol>
	        			</div>
        			</div>
            	</li>
            	
            	<!-- 施工团队入驻-->
            	<li>
            		<div>
	        			<div class="cf_box">
	        				<span>—   施工团队入驻平台的好处   —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、施工信息资源获取的门户</li>
								<li>平台大量的施工信息资源，可让您提前快速了解到有价值的工程项目情况和关键联系人信息，获得商机，为您节省大量的信息收集和攻关的时间和人力。</li>
	        					<li>2、招采施工信息精准推送</li>
								<li>平台通过设计、项目、采购的成单，向施工团队发送施工信息，精准接单。</li>
	        					<li>3、资源拓展支持</li>
								<li>平台在各大城市都有合作联盟，联盟团队定期组织线下的合作聚会，交换合作机会，互补资源优势。</li>
	        					<li>4、施工团队可以通过平台自发进行人员调配，互动协作；</li>
	        					<li>5、借助平台完善的管理体系，有利于施工队伍技术能力和服务质量的提升。</li>
	        				</ol>
	        			</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   施工团队入驻平台须知   —</span>
	        			</div>
	        			<div>
        					<ol>
	        					<li>1、认同千盟园景平台模式，同意并遵守平台的相关规定；</li>
	        					<li>2、提供营业执照等相关资质证明； </li>
	        					<li>3、提供入驻人员基本情况的介绍； </li>
	        					<li>4、国家对有资质要求的工种，需提供资质证明文件，并持证上岗； </li>
	        					<li>5、施工承包单位或负责人需为施工人员购买相应保险，并承担施工安全管理责任； </li>
        					</ol>
        				</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   施工团队入驻流程   —</span>
	        			</div>
	        			<img src="/images/rzlc_img.png" />
        			</div>
        			
        			<div class="last_box">
	        			<div class="cf_box">
	        				<span>—   施工团队入驻合作模式  —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、平台资源库自由信息撮合交易</li>
	        					<li>2、平台集团业务推荐施工</li>
	        					<li>3、平台与施工团队合作对外承接业务</li>
        					</ol>
	        			</div>
        			</div>
            	</li>
            	
            	<!--维护保养团队入驻-->
            	<li>
            		<div>
	        			<div class="cf_box">
	        				<span>—   维护保养团队入驻平台的好处   —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、PC+无线+线下全面资源渠道，有利于维保团队开辟全国商机，是维保团队增收的有力保障。</li>
	        					<li>2、千盟园景维保管理体系，有利于促进维保团队服务能力提升、团队影响力提高。</li>
	        				</ol>
	        			</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   维护保养团队入驻平台须知   —</span>
	        			</div>
	        			<div>
        					<ol>
	        					<li>1、认同千盟园景平台模式，同意并遵守平台的相关规定；</li>
	        					<li>2、提供营业执照等相关资质证明； </li>
	        					<li>3、提供入驻人员基本情况的介绍； </li>
	        					<li>4、国家对有资质要求的工种，需提供资质证明文件，并持证上岗； </li>
	        					<li>5、维保承包单位或负责人承担维保安全管理责任； </li>
        					</ol>
        				</div>
        			</div>
        			
        			<div>
	        			<div class="cf_box">
	        				<span>—   维护保养团队入驻流程   —</span>
	        			</div>
	        			<img src="/images/rzlc_img.png" />
        			</div>
        			
        			<div class="last_box">
	        			<div class="cf_box">
	        				<span>—   维护保养团队入驻合作模式  —</span>
	        			</div>
	        			<div>
	        				<ol>
	        					<li>1、平台资源库自由信息撮合交易</li>
	        					<li>2、平台旗下业务维保</li>
	        					<li>3、平台施工工程维保业务移交</li>
        					</ol>
	        			</div>
        			</div>
            	</li>
            </ul>
		</div>
	</div>
	<!--尾-->
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.js"></script>
<script src="/javascript/front/joinplat.js"></script>
<script src="/javascript/front/common.js"></script>
</html>