<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>招商加盟 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css"/>
</head>
<body>
	<!--头-->
	<#include 'header.html'>
	<!--中间部分-->
	<div class="center">
		<!--banner-->
		<div class="top_banner">
			<img src="/images/jm_banner.jpg" />
		</div>
		<!--内容-->
		<div class="set_center">
			<!--标题+图片-->
			<div class="join_one">
				<h4>—  千盟的运营模式  —</h4>
				<img src="/images/gyqm_yyms.png" />
			</div>
			<!--主要内容-->
			<div class="join_tow">
				<ul>
					<li>以千盟平台湖南总部为发展蓝本，采用千盟云平台大量数据资源、本土化服务（本地采购资源+使用养护服务）模式，线上线下资源互补共享，为园林景观客户提供一站式解决方案！</li>
					<li>
						<dl>
							<dt><img src="/images/jm_icon.png" />
								加盟要求：</dt>
							<dd>1、有一定行业经验，认同千盟企业文化；</dd>
							<dd>2、自愿原则；</dd>
							<dd>3、区域保护制度和价格执行制度，严守公司商业模式和商业秘密。</dd>	
							<dt> <img src="/images/jm_icon.png" />加盟支持：</dt>
							<dd>1、齐全的品类资源，优性价比最高，有力保证加盟商利润；</dd>
							<dd>2、本地化资源集成匹配，迅速打开市场；</dd>
							<dd>3、系列的营销政策+服务支持项目；</dd>
							<dd>4、品牌管理系统共享；</dd>
							<dd>5、专业的会销流程与实践辅导。</dd>
							
							<dt><img src="/images/jm_icon.png" />加盟流程：</dt>
							<dd>1、加盟咨询、意向沟通；</dd>
							<dd>2、项目总部考察，确认合作模式与代理区域；</dd>
							<dd>3、签署合同、缴纳加盟费；</dd>
							<dd>4、加盟输出、运营支持；</dd>
							<dd>5、区域市场开业；</dd>
							<dd>6、后期持续支持。</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--尾-->
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.js"></script>
<script src="/javascript/front/common.js"></script>
</html>