<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>我们的优势 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css"/>
</head>
<body>
	<!--头-->
	<#include 'header.html'>
	<!--中间部分-->
	<div class="center">
		<!--banner-->
		<div class="top_banner">
			<img src="/images/ys_banner.jpg" />
		</div>
		<!--内容-->
		<div class="set_center">
			<!--标题-->
			<div class="adv_title">
				<span>我们的优势</span>
			</div>
			<img src="/images/ys_xq.png" />
		</div>
	</div>
	<!--尾-->
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.js"></script>
<script src="/javascript/front/common.js"></script>
</html>