<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>公司简介 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css"/>
</head>
<body>
	<!--头-->
	<#include 'header.html'>
	<!--中间部分-->
	<div class="center" id="service">
		<!--banner-->
		<div class="top_banner">
			<img src="/images/fw_banner.jpg" />
		</div>
		<!--内容-->
		<div class="set_center team" id="all_service">		
            <ul class="team_name">
                <li class="tl_selected"><a href="javascript:;" >材料产品采购服务</a></li>
                <li><a href="javascript:;">工程施工服务</a></li>
                <li><a href="javascript:;">设计服务</a></li>
                <li><a href="javascript:;">造价咨询</a></li>
                <li><a href="javascript:;">园林风水</a></li>
            </ul> 
             <!--切换的选项卡主体 -->
            <ul class="team_member set_center" id="service_type">
            	<li class="ct_selected ">
                    <div class="material_type">
                        <p>—    采购服务的形式    —</p>
                        <img src="/images/material_1.png" alt="">
                    </div>
                    <div class="material_cnt">
                        <p>—    采购服务的内容    —</p>
                        <ul class="clearfix">
                            <li>景观建材</li>
                            <li>导视标牌</li>
                            <li>园林家具</li>
                            <li>花卉苗木</li>
                            <li>格栅井盖</li>
                            <li>园林设备</li>
                            <li>园林艺术饰品</li>
                            <li>绿化资材</li>
                        </ul>
                    </div>
            	</li>
            	<li>
                    <div class="material_type">
                        <p>—     服务形式    —</p>
                        <ul class="clearfix">
                            <li>园林景观工程</li>
                            <li>工程综合服务</li>
                            <li>园林工程维保</li>
                        </ul>
                    </div>
                    <div class="material_type">
                        <p>—     园林工程项目    —</p>
                        <ul class="clearfix">
                            <li>别墅庭院园林景观工程</li>
                            <li>团体单位园林景观工程</li>
                            <li>大中型园林景观工程</li>
                        </ul>
                    </div>
                    <div class="material_cnt">
                        <p>—    园林分项工程    —</p>
                        <ul class="clearfix">
                            <li>亭台楼阁</li>
                            <li>园路广场</li>
                            <li>导视标牌</li>
                            <li>假山水景</li>
                            <li>护栏格栅</li>
                            <li>园林灯饰</li>
                            <li>岗亭房屋</li>
                            <li>绿化工程</li>
                            <li>园林灌溉</li>
                            <li>雕塑雕刻</li>
                            <li>音乐喷泉</li>
                            <li>古典园林</li>
                            <li>体育工程</li>
                            <li>立面改造</li>
                            <li>游乐工程</li>
                        </ul>
                    </div>
                    <div class="material_cnt">
                        <p>—    园林工程综合服务    —</p>
                        <ul class="clearfix">
                            <li>工程预算概算</li>
                            <li>施工技术指导</li>
                            <li>施工工价估算</li>
                            <li>园林劳务资源服务</li>
                        </ul>
                    </div>
                </li>
            	<li >
                    <div class="material_type">
                        <p>—     设计服务的形式    —</p>
                        <ul class="design_type clearfix">
                            <li>园林景观工程</li>
                            <li>工程综合服务</li>
                        </ul>
                    </div>
                    <div class="material_cnt">
                        <p>—     设计服务的内容    —</p>
                        <div class="design_cnt clearfix">
                            <div>
                                <span>别墅庭院园林设计</span>
                                <img src="/images/design_1.png" alt="">
                            </div>
                             <div>
                                <span>园林项目设计</span>
                                <img src="/images/design_2.png" alt="">
                            </div>
                             <div>
                                <span>园林分项工程设计</span>
                                <img src="/images/design_3.png" alt="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix" id="general">
                     <div class="general_type width_400">
                         <img src="/images/general_1.png" alt="">
                         <span>业务培训</span>
                     </div>
                     <div class="general_type width_400">
                         <img src="/images/general_2.png" alt="">
                         <span>施工技术培训</span>
                     </div>
                     <div class="general_type width_400">
                         <img src="/images/general_3.png" alt="">
                         <span>工程预算概算</span>
                     </div>
                     <div class="general_type width_600">
                         <img src="/images/general_4.png" alt="">
                         <span>施工工价估算</span>
                     </div>
                     <div class="general_type width_600">
                         <img src="/images/general_5.png" alt="">
                         <span>工程维保养护</span>
                     </div>
                </li>
                <li class="clearfix" id="general">
                     <div class="general_type width_400">
                         <img src="/images/fs_1.png" alt="">
                         <span>风水堪舆</span>
                     </div>
                     <div class="general_type width_400">
                         <img src="/images/fs_2.png" alt="">
                         <span>风水设计</span>
                     </div>
                     <div class="general_type width_400">
                         <img src="/images/fs_3.png" alt="">
                         <span>风水改旺</span>
                     </div>
                     <div class="general_type width_600">
                         <img src="/images/fs_4.png" alt="">
                         <span>风水理论</span>
                     </div>
                     <div class="general_type width_600">
                         <img src="/images/fs_5.png" alt="">
                         <span>园林知识传播</span>
                     </div>
                </li>
            </ul>
		</div>
	</div>
	<!--尾-->
	<#include 'footer.html'>
</body>
<script src="/plugins/jquery.js"></script>
<script src="/javascript/front/our.service.js"></script>
<script src="/javascript/front/common.js"></script>
</html>