<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
	<title>${person.name !''} - 团队详情 - 千盟园景</title>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
	<!–[if lt IE9]> 
		<script src="/plugins/html5.js"></script>
	<![endif]–>
	<link rel="stylesheet" href="/css/front/common.css">
	<link rel="stylesheet" href="/css/front/main.css">
</head>
<body>
	<!-- 顶部导航栏 -->
    <#include 'header.html'>
	
	<div class="center">
		<div class="single_intro">
			<div class="top_banner">
				<img src="/images/tdxq_bg.jpg" alt="">
			</div>
			<div class="word_intro set_center">
				<a href="javascript:;"><img src="${person.picture !''}" alt=""></a>
				<div>
					<h3>${person.name !''}</h3>
					<span>${person.position !''}</span>
					<p>${person.intro !''}</p>
				</div>
			</div>	
		</div>
		
		<div class="team" id="team_show">
			<div class="its_example set_center clearfix">
				<span>相关案例</span>
				<p>
					<a href="javascript:;"><img src="/images/arrowl_g.png" data-src="/images/arrowl_y.png" data-old="/images/arrowl_g.png"></a>
					<a href="javascript:;"><img src="/images/arrowr_g.png" data-src="/images/arrowr_y.png" data-old="/images/arrowr_g.png"></a>
				</p>
			</div>
			<ul class="team_member set_center" id="example">
				<li class="ct_selected">
					<ul class="clearfix">
						<#if (personCases.records?size > 0)>
						<#list personCases.records as case>
						<li>
							<a href="/case/detail/${case.id !''}"><img src="${case.caseImage !''}" alt=""></a>
							<a href="/case/detail/${case.id !''}">${case.caseName !''}</a>
						</li>
						</#list>
						</#if>
					</ul>
					
				</li>
			</ul>
		</div>
	</div>
	
    <#include 'footer.html'>
</body>
<script src="/plugins/jquery.min.js"></script>
<script src="/javascript/front/common.js"></script>
<script src="/javascript/front/team.show.js"></script>
</html>