<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhpower.qianmeng.dao.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xhpower.qianmeng.entity.Job">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="job_name" property="jobName" />
        <result column="job_city" property="jobCity" />
        <result column="job_detail" property="jobDetail" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id AS categoryId, job_name AS jobName, job_city AS jobCity, job_detail AS jobDetail, create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectPage" resultType="com.xhpower.qianmeng.entity.Job">  
	    select 
		  j.id, category_id AS categoryId, job_name AS jobName, job_city AS jobCity, job_detail AS jobDetail, create_time AS createTime, update_time AS updateTime,category_name as categoryName
		from
		  job j join category c on j.category_id = c.id 
		<if test="ew.isNotEmptyOfWhere">
			<where>
				${ew.sqlSegment} 
			</where>
		</if>
		<if test="ew.isEmptyOfWhere">
				${ew.sqlSegment}
		</if>
	</select> 
</mapper>
